@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "Gallery.scss";

// Background Colors
$grey-a: #141414;
$grey-b: #242424;
$accent: #61afef;

// Text Colors
$grey-text-a: #e6e6e6;
$grey-text-b: #999999;

$border: 1px solid $grey-b;

*{
  box-sizing: border-box;
}

html{
  font-family: 'Inter', Sans-Serif !important;
  font-size: 12px;
	color: $grey-text-a;
	overflow: hidden;
}

body{
	padding: 0;
  margin: 0;
}

html, body, #root, .l-app{
	width: 100%;
	height: 100%;
}

.l-app{
	display: flex;
	background: $grey-a;

	.l-portion-a, .l-portion-b{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.l-portion-a{

		.l-display-image{
			width: 100%;
    	object-fit: contain;
		}

		.l-display-container{
			padding: 25px;
			overflow: hidden;

			.l-display-image{
				height: 100%;
				object-fit: contain;
				margin: auto;
			}

			.l-display-underlap{
				position: absolute;
				left: 0;
				top: 0;
				height: 100vh;
				width: 100%;
				filter: blur(19px);
				opacity: 0.5;
				z-index: -1;
			}

			.l-display-overflow{
				position: relative;
				overflow: hidden;
			}
		}
	}

	.l-portion-b{
		min-width: 370px;
		max-width: 370px;
		border-left: $border
	}
}