@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "Gallery.scss";

// Background Colors
$grey-a: #141414;
$grey-b: #242424;
$accent: #61afef;

// Text Colors
$grey-text-a: #e6e6e6;
$grey-text-b: #999999;

// Borders
$border: 1px solid $grey-b;
$border-radius: 3px;

// The '...' when text overflows
@mixin text-overflow {
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

*{
  box-sizing: border-box;
}

html{
  font-family: 'Inter', Sans-Serif !important;
  font-size: 12px;
	color: $grey-text-a;
	overflow: hidden;
}

body{
	padding: 0;
  margin: 0;
}

html, body, #root, .l-app{
	width: 100%;
	height: 100%;
}

.l-app{
	display: flex;
	background: $grey-a;

	.l-portion-a, .l-portion-b{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.l-portion-a{

		.l-display-image{
			width: 100%;
    	object-fit: contain;
		}

		.l-display-container{
			padding: 25px;
			overflow: hidden;

			.l-display-image{
				height: 100%;
				object-fit: contain;
				margin: auto;
			}

			.l-display-underlap{
				position: absolute;
				left: 0;
				top: 0;
				height: 100vh;
				width: 100%;
				filter: blur(19px);
				opacity: 0.5;
				z-index: -1;
			}

			.l-display-overflow{
				position: relative;
				overflow: hidden;
			}
		}
	}

	.l-portion-b{
		min-width: 370px;
		max-width: 370px;
		border-left: $border;

		.l-tab-container{
			
			ul{
				height: 40px;
				list-style: none;
				display: flex;
				text-align: center;
				margin: 0;
				padding: 0;
				line-height: 40px;
				cursor: pointer;

				li{
					width: 100%;
					border: 1px solid transparent;

					&:focus{
						outline: 0;
					}

					&:not(.react-tabs__tab--selected){
						background: #171717;
						border: $border;
						border-bottom-left-radius: $border-radius;
						
						&:first-child{
							border-bottom-right-radius: $border-radius;
							border-bottom-left-radius: 0px;
						}
					}
				}
			}
		}

		.l-panel{
			padding: 25px;

			.l-panel-sub{
				margin-bottom: 12px;
				padding-top: 20px;
				color: $grey-text-b;
			}

			.l-panel-input{
				height: 50px;
				padding: 0 17.5px;
				line-height: 50px;
				background: $grey-b;
				border-radius: $border-radius;
				@include text-overflow();
			}

			.l-tags{
				min-height: 80px;
				padding: 10px;
				display: flex;
				flex-wrap: wrap;

				.l-panel-tag{
					height: 27px;
					line-height: 27px;
					padding: 0 10px;
					background: #454545;
					margin-right: 10px;
					border-radius: $border-radius;
					text-transform: lowercase;
				}
			}

			.l-panel-meta{
				height: 35px;
				line-height: 35px;
				border-bottom: $border;
				display: flex;

				
				& div:nth-child(1){
					color: $grey-text-b;
				}

				& div:nth-child(2){
					color: $grey-text-a;
					text-transform: uppercase;
					width: 100%;
					text-align: right;
				}
			}
		}
	}
}