$thumbnail-height: 150px;

.css-1icgnzl-SkeletonTheme{
	height: 100%;
	width: 100%;
}

.image-gallery{
	height: 100%;

	*:not(img):not(button){
		height: 100%;
	}

	.image-gallery-slide-wrapper{
		height: calc(100% - #{$thumbnail-height}	);
	}

	.image-gallery-content{
		display: flex;
		flex-direction: column;

		.image-gallery-thumbnails-wrapper{
			height: $thumbnail-height;
			display: flex;
			flex-direction: column;
			padding: 20px;

			.image-gallery-thumbnail{
				border: 0px;
				opacity: 0.3;
				margin-right: 30px;
				filter: brightness(90%);
				transition: 0.2s;
				cursor: pointer;
				position: relative;

				span{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
				}
				
				&.active, &:hover, &:focus{
					opacity: 1;
					filter: unset;
				}
			}

			.image-gallery-thumbnails-container{
				display: flex;

				.image-gallery-thumbnail-image{
					height: 108%;
					width: unset;
					border-radius: 5px;
					
				}
			}
		}	
	}
}

@media only screen and (max-width: 1024px) {
	$thumbnail-height: 110px;

	.image-gallery{
		.image-gallery-thumbnails-wrapper{
			height: $thumbnail-height
		}

		.image-gallery-content{

			.image-gallery-slide-wrapper{
				height: calc(100% - #{$thumbnail-height});
			}

			.image-gallery-thumbnails-wrapper{
				height: $thumbnail-height;
				padding: 0px;

				.image-gallery-thumbnails-container{

					.image-gallery-thumbnail-image{
						height: 80px;
						
					}
				}
			}
		}
	}
}
